p{
    font-family: MontserratLight,Arial, Helvetica, sans-serif;
    line-height: 30px;

}

h1 ,h2{
    font-family:  MontserratBold , Arial, Helvetica, sans-serif;
    
    
    }

    #imgvidro{
        height: 50%;
        width: 50%;
        padding-left: 150px;


    }